@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --black: #d9d9d9;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;

}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.title-heading {
  font-size: 24px;
  font-weight: 600;
}

.main-container {
  display: flex;


}

/* Left sidebar */
.sidebar {
  width: 330px;
  min-width: 330px;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar_logo-wrapper {
  gap: 16px;

  /* margin-bottom: 20px; */
}

.logo-img {
  width: 73px;
  height: 68px;
  position: relative;
  left: 1em;
}

.sidebar_edu-name {
  font-size: 26px;
  font-weight: 600;
  position: relative;
  left: 10%;
  color: black;
}

.sidebar_menu-wrapper {
  padding: 16px;
}

.sidebar_menu-wrapper a {
  text-decoration: 0;
}

.main_header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}


#searchBar {
  border-width: 0.5px;
  padding-left: 5%;
  max-width: 50%;
}



.sidebar_menu-item {
  margin: 10px;
  background: white;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
  color: black;
  border: 1px solid transparent;
  font-weight: 600;

}

.sidebar_menu-item:hover {
  background: #991b1b10;
  border: 1px solid black;
  color: black;
}

.sidebar_menu-item:target {
  background: #991b1b;
  color: #fff;
}

.sidebar_menu-item.active {
  background: #991b1b;
  color: #fff;
}

.sidebar_bottom-content {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 40px;
  /* flex-grow: 1; */
  margin: 0 16px;
  padding-right: 30px;
  align-items: center;
  position: relative;
  z-index: 2;
  text-decoration: none;
}

.sidebar_bottom-content:hover {
  border-radius: 0 0 40px 40px;
}

.sidebar_bottom-content:hover .sidebar_bottom-panel {
  height: 400px;
  display: block;
}

/* .sidebar_bottom-content.show-panel {
  border-radius: 0 0 40px 40px;
} */

.sidebar_user-info-wrapper {
  flex-grow: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;

}

.sidebar_bottom-panel {
  position: absolute;
  bottom: 60px;
  height: 0px;
  width: 100%;
  left: 0;
  background: #fff;
  border-radius: 20px 20px 0 0;
  z-index: 1;
  padding: 16px;
  transition: 200ms;
  display: none;
}

.sidebar_bottom-panel-title {
  font-size: 24px;
  font-family: 500;
  text-align: center;
}

.sidebar_bottom-panel-item {
  background: var(--black);
  text-align: center;
  border-radius: 20px;
  padding: 10px 0;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 200ms;
}



.sidebar_bottom-panel-item:hover {
  background: #991b1b10;
  border: 1px solid black;
  color: black;
}

.right-panel-container {
  width: 420px;
  background: var(--black);
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  transition: 200ms;
}

.right-panel-container.hide {
  width: 0;
}

.right-panel-container.hide .rp_button-collapse i {
  transform: rotate(180deg);
}

.rp_button-collapse {
  position: absolute;
  left: -20px;
  z-index: 2;
  border-radius: 99999px;
  padding: 10px;
  background: #fff;
  top: 50%;
  transition: 200ms;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.right-panel-container:hover .rp_button-collapse {
  display: flex;
}

.rp_slider {
  border-radius: 12px;
  margin-bottom: 10px;
  height: 200px;
  overflow: hidden;
}

.rp_slider img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.rp_calender-wrapper {
  background: #fff;
  padding: 10px;
  border-radius: 16px;
}

.rp_calender-wrapper header {
  display: none;
}

.rp_calender-wrapper table {
  margin: 0;
}

.rp_calender-wrapper table thead td {
  font-size: 15px;
}

.rp_calender-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 6px 10px;
  font-size: 16px;
  border-bottom: 1px solid #e2e8f0;
  margin-bottom: 0px;
}

.rp_calender-heading {
  font-weight: 600;
}

.rp_deadline-header {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 18px;
}

#rp_deadline-content {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}


.main {
  overflow: auto;
  height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--black) white;
  padding: 20px;
  margin: 5px;

}

.main::-webkit-scrollbar-track {
  height: 5px;
  width: 5px;
}


.main_header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 50px;
}

#searchBar {
  width: 400px;
  border-radius: 20px;
  display: inline-block;
}

.left-header {
  display: flex;

}

.noti-btn button,
.chat-btn button {
  border: none;
  /* display: inline-block; */
  background-color: transparent;
  top: 20px;
}

.noti-btn {
  margin-right: 20px;
}


/* .main_dashboard-content {
  border: 2px solid black;
  border-radius: 20px;
  height: 200px;
} */



.main_course-item {
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 16px;
  transition: 200ms;
  cursor: pointer;
}

.main_course-header {
  font-weight: 500;
}

#main_course-item-title {
  font-weight: 500;
}

.main_course-item .main_course-cover img {
  max-height: 200px;
}

.main_course-item:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 5px 8px 0px;
}

.main_course-item .main_course-cover img {
  transition: 200ms;
}

.main_course-item .main_course-cover {
  overflow: hidden;
}

.main_course-item:hover .main_course-cover img {
  transform: scale(1.1);
}


.main_manage-container,
.main_infomation-container,
.main_activities-container {
  padding: 16px 24px;
}

.main_manage-heading {
  display: flex;
  justify-content: space-between;
}

#information-layout-item {
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.avatar-wrapper {
  /*aspect-ratio: 3 / 4;*/
  border-radius: 5px;
  overflow: hidden;
}

footer {
  background-color: green;
  height: 35px;
}

.alert {
  background-color: var(--black);
}

#testdate {
  border: 1px solid var(--gray);
  border-radius: 5px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px;
  font-size: 15px;

}